/* Login Page Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* Background school image */
  background: url("../images/mpnag_bg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.reset-container {
  background-color: rgba(35, 39, 42, 0.7); 
  backdrop-filter: blur(5px); 
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

h2 {
  margin-bottom: 30px;
  font-size: 18px;
  color: #fff;
}

.reset-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.reset-container input[type="password"] {
  width: 95%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-container input[type="email"] {
  width: 95%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-container button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.reset-container button:hover {
  background-color: #1a7dbe;
}

#message {
  margin-top: 10px;
  text-align: center;
}

.back-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
  text-decoration: none;
}


